@tailwind base;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    @apply scroll-smooth;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.15) transparent; /* slate-500 @ low opacity */
  }

  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(100, 116, 139, 0.15); /* very transparent */
    border-radius: 9999px;
    border: 2px solid transparent;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 116, 139, 0.3); /* slightly visible on hover */
  }
}
